{{ 'new-header.css' | asset_url | stylesheet_tag }}

<div class="icon">
  <a href="#" class="padding-x">
    <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/user-person-profile-account-contact_1.png?v=1680673442">
  </a>
  <a href="#" class="padding-x">
    <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/Vector.png?v=1680673457">
  </a>
  <a href="#" class="padding-x">
    <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/shopping-cart-cart-shopping-commerce-ecommerce_1.png?v=1680673447">
  </a>
</div>

