{{ 'new-header.css' | asset_url | stylesheet_tag }}

{% comment %} <div class="logo">
  <div class="name-logo">
    {%if section.settings.new-logo-header == blank%}
    <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/miti.png?v=1680747520">
    {%else%}
    {{section.settings.new-logo-header}}
    {%endif%}
  </div>
  <div class="icon-logo">
    <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/handbag.png?v=1680747520">
  </div>
</div> {% endcomment %}

