{{ 'new-header.css' | asset_url | stylesheet_tag }}

<ul class="menu-header">
    <li class="item-menu"><a href="#">Jacket & Coats</a></li>
    <li class="item-menu"><a href="#">Loungewear</a></li>
    <li class="item-menu"><a href="#">Polo shirts</a></li>
    <li class="item-menu"><a href="#">Shirts</a></li>
    <li class="item-menu"><a href="#">Shorts</a></li>
    <li class="item-menu"><a href="#">Suits</a></li>
    <li class="item-menu"><a href="#">Swimwear</a></li>
    <li class="item-menu"><a href="#">T-shirts</a></li>
    <li class="item-menu"><a href="#">Trousers</a></li>
  </ul>