.Footer {
    width: 100%;
    height: 100%;
    background-color: #232368;

}

.Footer__inner {
    color: white;
    padding: 40px 20px 20px 20px;
    width: 100%;
    margin: 0 auto;
}

.Footer__content__left {
    width: 50%;
}

.left__logo {
    background-color: #232368;
}
.left__logo svg{
    background-color: #232368;
}

.Footer__left__text {
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 70%;
}

.Footer__left__img {
    margin-top: 20px;

}


.Footer__content {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(101, 101, 149, 0.3);
  
}

.Footer_content_right {
    display: flex;
    width: 50%;
    gap: 50px;

}
.Footer__left__img
{
    margin-top: 20px;
    width: 105px;
    height: 30px;
}
.Footer__left__img img
{
    width: 100%;
    height: 100%;
}
.menu-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.66);
}



.Footer__copyright {
    margin-top: 16px;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: rgba(255, 255, 255, 0.66);
    display: flex;
    flex-direction: column;
    gap: 6px;
}



@media (max-width: 768px) {
    .Footer__content{
        display: unset;
        
    }
    .Footer_content_right
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(101, 101, 149, 0.3);
    }
    .menu-list
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Footer__copyright
    {
        text-align: left;
        

    }
    .Footer__content__left
    {
        width: 70%;
    }
    .Footer__left__text{
        width: 100%;
    }



}
@media (max-width: 480px) {
    .Footer__content__left {
        width: 80%;
    }
    .Footer__left__text
    {
        margin-top: 12px;
    }
    .Footer_content_right
    {
        margin-top: 30px;
    }
    .Footer__inner
    {
        padding: 28px 16px 16px 16px ;
    }
   
    .Footer__content__left
    {
        width: 100%;
       
    }
    .Footer__left__text
    {
        font-size: 14px;
        width: 80%;
    }
    .Footer__left__img
    {
        width: 150px;
        height: 30px;
        margin-top: 12px;
    }
    .Footer__copyright
    {
        width: 65%;
    }
}