.Header {
  width: 100%;
}
.Header__inner {
  padding: 18px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__menuHeader {
  display: flex;
  gap: 30px;
  align-items: center;
}

.Header__menuHeader a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #232368;
  cursor: pointer;
  cursor: pointer;
  transition: all 0.2s linear;
}

.Header__menuHeader a:hover {
  font-weight: bold;
  font-size: 20px;
}

.Header__btnHeader .Header__btnHeader-btn {
  padding: 11px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ff854a 0%, #eb257a 100%);
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.Header__btnHeader .Header__btnHeader-btn:hover {
  opacity: 0.5;
}

.Header__navMenuIcon {
  width: 36px;
  height: 36px;
  background: #eff5fd;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s linear;
  display: none;
  position: relative;
}

.Header__navMenuIcon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Header__navMenuIcon:hover {
  opacity: 0.5;
}

.navMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: white;
  display: none;
}

.navMenu__header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navMenu__header-iconClose {
  background: #eff5fd;
  border-radius: 4px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.navMenu__header-iconClose:hover {
  opacity: 0.5;
}

.navMenu__menuContent {
  padding: 30px 0px;
}

.navMenu__menuContent .navMenu__menuLink {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.navMenu__menuLink .navMenu__menuOption {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #232368;
  cursor: pointer;
  transition: all 0.2s linear;
}

.navMenu__menuOption:hover {
  opacity: 0.5;
}

.navMenu__btnHeader {
  background: linear-gradient(90deg, #ff854a 0%, #eb257a 100%);
  border-radius: 50px;
  width: 285px;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s linear;
}

.navMenu__btnHeader:hover {
  opacity: 0.5;
}

@media (max-width: 1180px) {
  .Header__menuHeader {
    display: none;
  }
  .Header__btnHeader {
    display: none;
  }
  .Header__navMenuIcon {
    display: block;
  }

  .Header__logoCont svg {
    width: 78.07px;
    height: 26.45px;
  }
}
@media (max-width: 1024px) {
  .Header__inner {
    padding: 18px 16px;
  }
}
