.product-slider {
  width: 100%;
}

.product-slider .product-slider__inner {
  padding: 80px 88px;
  max-width: 1590px;
  width: 100%;
  margin: 0 auto;
}

.product-slider__titleCont {
  margin-bottom: 40px;
}

.product-slider__titleCont .product-slider__titleCont-mainTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #232368;
  margin-bottom: 12px;
  text-align: center;
}

.product-slider__titleCont .product-slider__titleCont-subTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #656595;
}

.productSliderCont {
  height: 100%;
  width: 100%;
  position: relative;
}

.productCardCont {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.productCardCont {
}
#controls {
}
.productCardWrapper {
  flex: 1;
}
.productCard {
  box-shadow: 0px 0px 1px rgba(161, 161, 163, 0.4),
    0px 4px 12px rgba(136, 141, 152, 0.2);
  border-radius: 8px;
  position: relative;
}

.tns-ovh {
  padding-top: 15px;
  padding-bottom: 15px;
}

.productCard .productCard__decoration {
  position: absolute;
  right: 16px;
  top: -10px;
}

.productCard__decoration svg {
}
.productCard__price {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -65%);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;

  text-align: center;

  /* neutral/white */

  color: #ffffff;
}

.productCard .productCard__header {
  padding: 22px 16px;
  background: #eff5fd;
  border-radius: 8px 8px 0px 0px;
}

.productCard__header .productCard__header-title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #232368;
}
.productCard .productCard__content {
  padding: 20px 16px;
}

.productCard__content .productCard__contentRowCont {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
.productCard__contentRowCont .productCard__contentRow {
  display: flex;
  gap: 8px;
}
.productCard__contentRow .productCard__contentRow-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #656595;
}
.productCard__content .productCard__btnOrder {
  width: 100%;
  background: linear-gradient(90deg, #ff854a 0%, #eb257a 100%);
  border-radius: 50px;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.productCard__btnOrder:hover {
  opacity: 0.5;
}
.productCard__content .productCard__note {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #cdcdd6;
}

.arrowSlider {
  position: absolute;
  width: 48px;
  height: 48px;
  background: #eff5fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s linear;
}

.arrowSlider:hover {
  opacity: 0.5;
}
.arrow__left {
  left: -80px;
}
.arrow__right {
  right: -80px;
}

.boxtest {
  height: 200px;
  border: 1px solid #000;
}

@media (max-width: 1024px) {
  .product-slider .product-slider__inner {
    padding: 80px 16px;
    margin: 0 auto;
  }
  #controls {
    display: none;
  }
  .productCardCont {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .productCardWrapper {
    width: calc(50% - 15px);
    flex: none;
  }
}
@media (max-width: 768px) {
  .productCardWrapper {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-slider__titleCont .product-slider__titleCont-mainTitle {
    font-size: 20px;
    line-height: 1.4;
  }

  .product-slider__titleCont .product-slider__titleCont-subTitle {
    font-size: 14px;
    line-height: 1.5;
  }
}
