.step {
  width: 100%;
  position: relative;
  background-color: #3829a3;
}

/* for remove border line of SVG noteeeeeee */
.step svg {
  background-color: white;
  display: block;
  line-height: 0;
}
/* for remove border line of SVG noteeeeeee */

.step_inner {
  width: 100%;
  margin: 0 auto;

  z-index: 9999;
}

.step_tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #3829a3;
}

.step_tittle > p {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

.step_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #cdcdd6;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step_text p
{
    width: 80%;
}

.step_content {
  width: 100%;
  /* padding: 68px 100px 124px 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
}

.step_content_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 30%;
  padding: 20px;
}

.item_number {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.item_img {
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
​ .item_img svg {
  background: #3829a3;
  fill: #3829a3;

  border-radius: 100%;
}

.item_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #eff5fd;
}

.item_richtext {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #eff5fd;
}

.connect {
  display: flex;
  align-items: center;
  background: #3829a3;
}
.connect svg {
  background: #3829a3;
  fill: #3829a3;
}
.spec {
  width: 100%;
  height: 100%;
  /* border-bottom: 7px solid white; */
  position: relative;
  padding-top: 10px;
  top: 10px;
  z-index: 99999;
}
/* .line
{
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    background-color: #3829A3;
} */

@media (max-width: 1024px) {
  .step_content {
    display: flex;
    flex-direction: column;
  }
  .connect {
    width: 150px;
    height: 200px;
    transform: rotate(90deg);
  }
  .step_content_item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .step_content {
  }
  .step_text {
    width: 90%;
    padding: 0px 16px;

    margin: 0 auto;
    margin-top: 4px;
  }
}
@media (max-width: 480px) {
  .step_tittle {
    padding: 0px 16px;
  }

  .step_content {
  }
  .item_richtext {
    width: 70%;
  }
  .item_img svg {
    width: 80px;
    height: 80px;
  }
  .step_content_item {
    padding: 0;
  }
  .step_content {
    margin-top: 30px;
  }
  .step_text {
    font-size: 16px;
  }
  .item_number {
    font-size: 16px;
  }
  .item_text {
    font-size: 16px;
  }
  .item_richtext {
    font-size: 14px;
  }
  .connect {
    width: 70px !important;
    height: 70px !important;
  }
  .connect svg {
    width: 69px !important;
    height: 7.55px;
  }
}
