.support_inner {
    padding: 80px 120px 100px 120px;
    width: 100%;
    margin: 0 auto;
}

.support_tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
    color: #232368;
    margin:  0 auto;
}


.support_content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.content_item {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #232368;
    padding: 20px;
    box-shadow: 0px 0px 1px rgba(161, 161, 163, 0.4), 0px 4px 12px rgba(136, 141, 152, 0.2);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
}
.content_item:hover
{
    background-color: #232368;
    color: white;
}
.special{
    background-color: #232368;
    color: white;
}
.not-special{
    
}

.content_item_text
{
    width: 95%;
}
.content_item_text i{
   width: 5%;
   display: flex;
   justify-content: flex-end;


}

.content_answer
{
   
   
    margin-top: 2px;
    display: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #232368;
    padding: 20px;
    box-shadow: 0px 0px 1px rgba(161, 161, 163, 0.4), 0px 4px 12px rgba(136, 141, 152, 0.2);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.content_wrap
{
    display: flex;
    flex-direction: column;
    width: 100%;
}







@media (max-width: 1180px) {
    .content_wrap
    {
        width: 100% !important;
    }




}
@media (max-width: 600px) {
    .support_inner
    {
        padding: 30px 16px 0px 16px ;
    }
    .support_content
    {
        margin-top: 30px;
    }

}
@media (max-width: 480px) {
    .content_item{
        padding: 16px;
    }
}

